{% extends 'base.html' %}

{% block titulo %}Nome do campeonato{% endblock %}

{% block opcoes %}
    <a href="/equipe/campeonatos">Disponíveis</a>
    <a href="">Convites</a>
    <a href="">Atletas/Subs</a>
    <a href="/equipe/historico">Histórico</a>
{% endblock %}

{% block content %}
    <h2>
        Campeonato exemplo
    </h2>
    <img src="" alt="Foto do campeonato">

    <div class="container">
        <h3>
            Equipes inscritas
        </h3>

        <div>
            <h4>
                Equipe exemplo
            </h4>
            <img src="" alt="Imagem da equipe">
            <p>
                Informações
            </p>
        </div>

    </div>
    <div class="container">
        <h3>
            Informações adicionais
        </h3>

        <p>
            Informações adicionais sobre o campeonato
        </p>
    </div>

    {% if campeonato_inscrito %}
        <button disabled>
            Inscrito
        </button>
    {% else %}
        <button>
            Solicitar inscrição
        </button>
    {% endif %}

{% endblock %}