{% extends 'base.html' %}

{% block titulo %}Campeonatos{% endblock %}

{% block opcoes %}
    <a href="/equipe/campeonatos">Disponíveis</a>
    <a href="/equipe/convites">Convites</a>
    <a href="/equipe/1/subequipes">Atletas/Subs</a>
    <a href="/historico">Histórico</a>
{% endblock %}

{% block content %}
    <h2>
        CAMPEONATOS DISPONÍVEIS
    </h2>

    <input type="search" name="" id="" placeholder="Pesquisar">

    <div class="container">
        <a href="/equipe/campeonatos/1">
            <h3>
                Campeonato X
            </h3>
            <img src="" alt="Imagem do campeonato">
            <p>
                Informações
            </p>
        </a>
    </div>

    <div class="container">
        <a href="/equipe/campeonatos/2">
            <h3>
                Campeonato Y
            </h3>
            <img src="" alt="Imagem do campeonato">
            <p>
                Informações
            </p>
        </a>
    </div>
{% endblock %}