{% extends 'base.html' %}

{% block titulo %}Perfil{% endblock %}

{% block opcoes %}
    <a href="/equipe/campeonatos">Disponíveis</a>
    <a href="/equipe/convites">Convites</a>
    <a href="/equipe/1/subequipes">Atletas/Subs</a>
    <a href="/historico">Histórico</a>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>
            Seu perfil
        </h2>
        <h3>
            Equipe esportiva
        </h3>

        <img src="" alt="Foto de perfil">
        <input type="text" value="Equipe exemplo" disabled>
        <input type="text" value="11.111.111/0001-00" disabled>
        <input type="text" value="(11)1111-1111" disabled>
        <input type="text" id="" value="email@email.com" disabled>
        <label> Modalidade: 
            <select name="" id="" disabled="disabled">
                <option value="">modalidade</option>
            </select>
        </label>
        
    </div>
{% endblock %}