{% extends 'base.html' %}

{% block titulo %}Conta{% endblock %}

{% block content %}
    <div class="container">
        <h2>
            Seu perfil
        </h2>

        <img src="" alt="Foto de perfil">
        <input type="text" value="Equipe exemplo" disabled>
        <input type="text" value="CNPJ: 11.111.111/0001-00" disabled>
        <input type="text" value="(11)1111-1111" disabled>
        <input type="text" id="" value="email@email.com" disabled>
        <label> Modalidade: 
            <select name="" id="" disabled="disabled">
                <option value="">modalidade</option>
            </select>
        </label>
        
    </div>
{% endblock %}