{% extends 'base.html' %}

{% block titulo %}Convites{% endblock %}

{% block opcoes %}
    <a href="/equipe/campeonatos">Disponíveis</a>
    <a href="/equipe/convites">Convites</a>
    <a href="/equipe/1/subequipes">Atletas/Subs</a>
    <a href="/historico">Histórico</a>
{% endblock %}

{% block content %}
    <h2>
        Convites
    </h2>

    <div class="container">
        <h3>
            Convite exemplo
        </h3>

        <p>
            Informações sobre o convite
        </p>

        <button>
            Aceitar
        </button>
        <button>
            Recusar
        </button>

    </div>

{% endblock %}