{% extends 'base.html' %}

{% block titulo %}Histórico{% endblock %}

{% block opcoes %}
    <a href="/equipe/campeonatos">Disponíveis</a>
    <a href="/equipe/convites">Convites</a>
    <a href="/equipe/1/subequipes">Atletas/Subs</a>
    <a href="/historico">Histórico</a>
{% endblock %}

{% block content %}
    <h2>
        CAMPEONATOS ANTERIORES
    </h2>

    <div class="container">
        <a href="">
            <h3>
                Campeonato exemplo
            </h3>
            <img src="" alt="Imagem do campeonato">
            <p>
                Informações
            </p>
        </a>
    </div>

{% endblock %}