{% extends 'base.html' %}

{% if tipo_categoria == 'peso' %}
    {% set categoria = 'Atletas' %}
{% elif tipo_categoria == 'sub' %}
    {% set categoria = 'Subdivisões'%}
{% endif %}

{% block titulo %}{{ categoria }}{% endblock %}

{% block opcoes %}
    <a href="/equipe/campeonatos">Disponíveis</a>
    <a href="/equipe/convites">Convites</a>
    <a href="/equipe/1/subequipes">Atletas/Subs</a>
    <a href="/historico">Histórico</a>
{% endblock %}
{% block content %}
    <h2>
        {{ categoria.upper() }} DA EQUIPE
    </h2>
    <input type="search" name="" id="" placeholder="Pesquisar">

    <div class="container">
        <h3>
            Atleta/Subdivisão exemplo
        </h3>
        <img src="" alt="Imagem do atleta/subdivisão">
        <p>
            Informações
        </p>
        <label><input type="checkbox" name="" id="">Disponível para campeonato</label>
        <button>
            Excluir
        </button>
    </div>

    <div class="container" style="display: block;">
        <h3>
            Novo atleta/subdivisão
        </h3>
        <form action="post">
            <input type="text" name="" id="" placeholder="Nome do atleta/subdivisão">
            <select name="" id="">
                <option value="">Selecione a categoria...</option>
                <option value="">Categoria 1</option>
                <option value="">Categoria 2</option>
                <option value="">Categoria 3</option>
            </select>
            <label>
                Escolha a foto <br>
                <input type="file" name="" id="">
            </label>
            <button>Adicionar</button>
        </form>
    </div>

    
{% endblock %}