{% extends "base.html" %}

{% block titulo %}Campeonato X{% endblock %}

{% block content %}
<div class="container">
    <h2>Campeonato X</h2>
    <div>
        <p>Descrição do campeonato</p>
        <p><strong>Data de Início:</strong> <input type="date" value="2000-01-01" disabled></p>
        <p><strong>Status:</strong>Ativo</p>
    </div>
    <div class="container">
        <h3>Chaves do Campeonato</h3>
        <div id="area-chaves">
            
        </div>
    </div>
</div>
{% endblock %}