{% extends 'organizacao/base.html' %}

{% block titulo %}Perfil{% endblock %}

{% block content %}
    <div class="container">
        <h2>
            Seu perfil
        </h2>
        <h3>
            Organização esportiva
        </h3>

        <img src="" alt="Foto de perfil">
        <input type="text" name="nome" value="Organização exemplo" disabled>
        <input type="text" value="11.111.111/0001-00" disabled>
        <input type="text" value="(11)1111-1111" disabled>
        <input type="text" id="" value="email@email.com" disabled>
        
        <div>
            <h4>
                Modalidades
            </h4>
            <ul>
                <li>
                    <label><input type="checkbox" checked disabled> Futebol</label>
                </li>
                <li>
                    <label><input type="checkbox" checked disabled> Basquete</label>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}