{% extends 'organizacao/base.html' %}

{% block titulo %}Início{% endblock %}

{% block usuario %}Olá, Organização{% endblock %}

{% block content %}
    <div class="container">
        <h2>Seus campeonatos agendados</h2>
        
        <a href="/campeonatos/1">
            <h3>
                Campeonato X
            </h3>
            <img src="" alt="Foto do campeonato">
            <p>
                Informações
            </p>
        </a>

    </div>
    <div class="container">
        <h2>Campeonatos Ativos</h2>

        <a href="/campeonatos/2">
            <h3>
                Campeonato Y
            </h3>
            <img src="" alt="Foto do campeonato">
            <p>
                Informações
            </p>
        </a>
    </div>
    <div class="container">
        <h2>
            Histórico de campeonatos
        </h2>

        <a href="">
            <h3>
                Campeonato Z
            </h3>
            <img src="" alt="Foto do campeonato">
            <p>
                Informações
            </p>
        </a>
    </div>
{% endblock %}