<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %} | Arena</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>
            <a href="/" id="titulo"> Arena Error</a>
        </h1>

        <nav>
            <a href="/">Início</a>
            <a href="">Esportes</a>
            {% block navbar %}{% endblock %}
        </nav>
    </header>
    
    <hr>
    
    <main> <!-- CONTEÚDO PRINCIPAL -->
        {% block content %}
        {% endblock %}
    </main>

    <hr>

    <footer> <!-- RODAPÉ -->
            Projeto de Programação - UNIMA
    </footer>
    
</body>
</html>