<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %} | bet404</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>
            <a href="/" id="titulo">bet404</a>
            <p>{% block usuario %}{% endblock %}</p>
        </h1>

        <nav aria-label="nav principal">
            <a href="/">Início</a>
            {% block navbar %}{% endblock %}
            <a href="">Sua conta</a>
        </nav>

        <nav aria-label="nav secundario">
            {% block opcoes %}{% endblock %}
        </nav>
        
    </header>
    
    <hr>
    
    <main> <!-- CONTEÚDO PRINCIPAL -->
        {% block content %}
        {% endblock %}
    </main>

    <hr>

    <footer> <!-- RODAPÉ -->
        <a href="https://github.com/LukBomfim/projeto-programacao" target="_blank">
            &copy; Projeto de programação - 2026.1
        </a>
    </footer>
    
    {% block scripts %}{% endblock %}
</body>
</html>