<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro | bet404</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <h1>
            <a href="/" id="titulo">bet404</a>
        </h1>
    </header>

    <hr>

    <main>
        <h2>Cadastro</h2>

        <form method="post">
            <select name="tipo_conta" id="tipo-conta">
                <option value="">Selecione um tipo de conta</option>
                <option value="usuario">Usuário comum</option>
                <option value="equipe">Equipe esportiva</option>
                <option value="organizacao">Organização de campeonato</option>
            </select>
            <br>

            <!-- USUARIO COMUM -->
            <div id="campos-comum" style="display: none;">
                <label>Nome completo<br><input type="text" name="nome" placeholder="Fulano de Tal"></label> <br>
                <label>CPF<br><input type="number" name="cpf" placeholder="111.111.111-11"></label> <br>
                <label>Data de nascimento<br><input type="date" name="nascimento"></label> <br>
                <label>Número<br><input type="number" name="numero" placeholder="(11)91111-1111"></label> <br>
                <label>E-mail<br><input type="email" name="email" placeholder="email@email.com"></label> <br>
                <label>Senha<br><input type="password" name="password" placeholder="••••••••"></label> <br>
                <label>Confirme a senha<br><input type="password" name="confirmar_senha" placeholder="••••••••"></label> <br>
            </div>

            <!-- EQUIPE ESPORTIVA -->
            <div id="campos-equipe" style="display: none;">
                <label>Nome da equipe<br><input type="text" name="nome_equipe" placeholder="Equipe X"></label> <br>
                <label>CNPJ<br><input type="number" name="cnpj" placeholder="11.111.111/0001-00"></label> <br>
                <label>Número<br><input type="number" name="numero" placeholder="(11)91111-1111"></label> <br>
                <label>E-mail<br><input type="email" name="email" placeholder="email@email.com"></label> <br>
                <label>Senha<br><input type="password" name="password" placeholder="••••••••"></label> <br>
                <label>Confirme a senha<br><input type="password" name="confirmar_senha" placeholder="••••••••"></label> <br>

                <label>Modalidade<br>
                    <select name="modalidade">
                        <option value="">Selecione a modalidade</option>
                        <option value="">Futebol</option>
                        <option value="">Basquete</option>
                        <option value="">MMA</option>
                        <option value="">Judô</option>
                        <option value="">Jiu-Jitsu</option>
                    </select>
                </label>
            </div>

            <!-- ORGANIZAÇÃO DE CAMPEONATO -->
            <div id="campos-organizacao" style="display: none;">
                <label>Nome da organização<br><input type="text" name="nome_equipe" placeholder="Campeonato X"></label> <br>
                <label>CNPJ<br><input type="number" name="cnpj" placeholder="11.111.111/0001-00"></label> <br>
                <label>Número<br><input type="number" name="numero" placeholder="(11)91111-1111"></label> <br>
                <label>E-mail<br><input type="email" name="email" placeholder="email@email.com"></label> <br>
                <label>Senha<br><input type="password" name="password" placeholder="••••••••"></label> <br>
                <label>Confirme a senha<br><input type="password" name="confirmar_senha" placeholder="••••••••"></label> <br>

                <p>Selecione as modalidades:</p><br>
                <label><input type="checkbox" name="modalidades"> Futebol</label>
                <label><input type="checkbox" name="modalidades"> Basquete</label>
                <label><input type="checkbox" name="modalidades"> MMA</label>
                <label><input type="checkbox" name="modalidades"> Judô</label>
                <label><input type="checkbox" name="modalidades"> Jiu-Jitsu</label>
            </div>
            
            <button type="submit" style="display: none;" id="btn-cadastrar">
                Cadastrar
            </button>
        </form>
        <a href="/login">
            Já possui uma conta?
        </a>
        
    </main>

    <hr>

    <footer>
        <a href="https://github.com/LukBomfim/projeto-programacao" target="_blank">
            &copy; Projeto de programação - 2026.1
        </a>
    </footer>

</body>
<script>

    desabilitar('campos-comum')
    desabilitar('campos-equipe')
    desabilitar('campos-organizacao')

    document.getElementById('tipo-conta').addEventListener('change', function() {
        const tipo = this.value

        document.getElementById('campos-comum').style.display = 'none'
        document.getElementById('campos-equipe').style.display = 'none'
        document.getElementById('campos-organizacao').style.display = 'none'
        document.getElementById('btn-cadastrar').style.display = 'none'

        if (tipo === "usuario") {
        document.getElementById('campos-comum').style.display = 'block'
        document.getElementById('btn-cadastrar').style.display = 'block'
        }
        if (tipo === "equipe") {
        document.getElementById('campos-equipe').style.display = 'block'
        document.getElementById('btn-cadastrar').style.display = 'block'
        }
        if (tipo === "organizacao") {
        document.getElementById('campos-organizacao').style.display = 'block'
        document.getElementById('btn-cadastrar').style.display = 'block'
        }
    })

    function desabilitar(id) {
        document.querySelectorAll('#' + id + 'input, #' + id + 'select').forEach(function(campo){
            campo.disabled = true
        })
    }

    function habilitar(id) {
        document.querySelectorAll('#' + id + 'input, #' + id + 'select').forEach(function(campo){
            campo.disabled = false
        })
    }
</script>
</html>